@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  
:root {
    /* ### Primary */

    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
  }
  
body {
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 18px;
    background-color: var(--Darkcyan);
    min-height: 100vh;        
    background-image: url(../profile-card-component/images/bg-pattern-top.svg), url(../profile-card-component/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh,left 50vw top 50vh;
        
  }


.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper {
    max-width: 450px;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
    margin: 1rem;
}

#person {
    border-radius: 50%;
    border: 3px solid #FFF;
    margin-top: -55px;
    margin-bottom: 20px;
}

.content h2 {
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 16px;
}

.content h2 span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.content p {
    margin-top: 10px;
    color: hsl(227, 10%, 46%);
    font-size: 14px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsla(227, 10%, 46%, 0.2);
    padding: 30px 50px;
    margin-top: 30px;
}

.footer-content p {
    font-size: 12px;
    color: var(--Darkgray);
    letter-spacing: 0.1em;
}
p.numbers {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 5px;

}